@using MODELS.CHUCNANG.HOADON.Dtos
@using MODELS.DANHMUC.NHANHIEU.Dtos;
@using MODELS.BASE;
@using Newtonsoft.Json;
@model GetListPagingResponse
@{
    int i = 1;
    int k = Model.TotalRow % 10 == 0 ? 0 : 1;
    var array = ((List<MODELHoaDon>)Model.Data).Select(x => x.Id).ToArray();
    var jsonArray = JsonConvert.SerializeObject(array);
}

<table class="table table-hover" style="margin: 0; background-color: white;">
    <thead>
        <tr>
            <th width="10" style="justify-items: center">
                <div class="d-flex align-items-center" style="width: 15px; height: 15px">
                    <label class="containerCheckbox">
                        <input id="checkAll" type="checkbox" onclick="SelectAllCheck()">
                        <span class="checkmark rounded"></span>
                    </label>
                </div>
            </th>
            <th class="fw-bold text-center" width="10" scope="col">STT</th>
            <th class="fw-bold" width="120" scope="col">Mã khách hàng</th>
            <th class="fw-bold text-center" width="120" scope="col">Tổng tiền</th>
            <th class="fw-bold text-center" width="120" scope="col">Mã địa chỉ</th>
            <th class="fw-bold text-center" width="120" scope="col">Số điện thoại</th>
            <th class="fw-bold text-center" width="120" scope="col">Ngày cập nhật</th>
            <th class="fw-bold text-center" width="120" scope="col">Trạng thái</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in (List<MODELHoaDon>)Model.Data)
        {
            <tr id="@item.Id" class="rowTable">
                <th style="justify-items: center;">
                    <div class="d-flex align-items-center" style="width: 15px; height: 15px;">
                        <label class="containerCheckbox">
                            <input type="checkbox" onclick="SelectRow('@item.Id')">
                            <span class="checkmark rounded"></span>
                        </label>
                    </div>
                </th>
                <th class="align-content-center text-center" scope="row">@i</th>
                <td class="align-content-center">@item.UserId</td>
                <td class="align-content-center">@item.Total</td>
                <td class="align-content-center">@item.DiaChiId</td>
                <td class="align-content-center">@item.PhoneNumber</td>
                <td class="align-content-center text-center">@item.DateCreate.ToString()</td>
                <td class="align-content-center text-center">
                    @if (item.Status == 1)
                    {
                        <p class="m-0" style="color: rgba(13, 110, 253) ">Chờ xác nhận</p>
                    }
                    @if (item.Status == 2)
                    {
                    <p class="m-0" style="color: rgba(13, 110, 253) ">Đã xác nhận</p>
                    }
                    @if (item.Status == 3)
                    {
                    <p class="m-0" style="color: rgba(13, 110, 253) ">Đang giao hàng</p>
                    }
                    @if (item.Status == 4)
                    {
                    <p class="m-0" style="color: rgba(13, 110, 253) ">Chờ xác nhận</p>
                    }
                    else
                    {
                        <p class="m-0 text-danger">Đã huỷ</p>
                    }
                </td>
            </tr>
            i++;
        }
        <tr>
            <td colspan="5" class="">
                <nav aria-label="Page navigation example">
                    <ul id="pagination_HoaDon" class="pagination justify-content-center m-0">
                        @*<li class="page-item">
                        <a class="page-link" href="#">
                        <i class="fa-solid fa-chevron-left"></i>
                        </a>
                        </li>
                        @for (int j = 1; j <= Model.TotalRow / 10 + k; j++)
                        {
                        <li class="page-item">
                        <button class="page-link" onclick="GetListPaging(@j)">@j</button>
                        </li>
                        }
                        <li class="page-item">
                        <a class="page-link" href="#">
                        <i class="fa-solid fa-chevron-right"></i>
                        </a>
                        </li>*@
                    </ul>
                </nav>
            </td>
        </tr>
    </tbody>
</table>

<script>
    $('#pagination_HoaDon').twbsPagination({
    totalPages: @(Model.TotalRow % 10 == 0 ? Model.TotalRow / 10 : (Model.TotalRow / 10) + 1),
    visiblePages: 5,
    initiateStartPageClick: false,
    hideOnlyOnePage: true,
    startPage: @(Model.PageIndex),
    first: '<<',
    prev: '<',
    next: '>',
    last: '>>',
    onPageClick: function (event, page) {
        GetListPaging(page)
    }
    });

    function SelectAllCheck() {
        if ($("#checkAll").is(":checked")) {
            SelectdRow = @Html.Raw(jsonArray);
            SelectdRow.forEach(function (item, index) {
                $("tr#" + item + " .containerCheckbox input").prop("checked", true);
                $("tr#" + item).addClass("table-active");
            });
        } else {
            SelectdRow = []
            var temp = @Html.Raw(jsonArray);
            temp.forEach(function (item, index) {
                $("tr#" + item + " .containerCheckbox input").prop("checked", false);
                $("tr#" + item).removeClass("table-active");
            });
        }
    }
</script>

