@model MODELS.HETHONG.TAIKHOAN.Requests.PostLoginRequest
@{
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}

<script>
    $(document).ready(function () {
        $("#frmLogin").submit(async function (event) {
            event.preventDefault();
            if ($("#frmLogin").valid()) {
                DangNhap();
            }
        });
    });

    function DangNhap() {
        var data = $("#frmLogin").serialize();
        showLoading(true)
        $.ajax({
            url: "@Url.Action("Login", "TaiKhoan")",
            type: "POST",
            data: data,
            success: function (response) {
                showLoading(false)
                if (response.IsSuccess) {
                    ShowThongBaoThanhCong(response.Message);
                    setTimeout(function () {
                        window.location.href = "/Home/Index"
                    }, 1000);
                } else {
                    ShowThongBaoThatBai(response.Message)  
                }
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(response.Message)  
            }
        })
    }
</script>

<style>
    #mainContent{
        background:url('@Url.Content("~/image/Background/BackgroundAccount.jpg")') no-repeat center;
    }

    .swiper {
        width: auto;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-pagination-bullet{
        background-color: white
    }

    @@media only screen and (max-width: 992px) {
        #slider {
            display: none;
        }
        #LoginContainer{
            width: 500px
        }
    }
    #ForgotPassword:hover,
    #LoginWithGoogle:hover,
    #linkDangKy:hover {
        font-weight: bold;
        color: #222831 !important;
    }

    #LinkToWebsite:hover {
        color: #08D9D6 !important;
    }

    .divider {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 40px 0;
    }

    .divider::before,
    .divider::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #ccc;
        margin: 0 10px;
    }

    .divider span {
        color: #999;
        font-size: 14px;
        white-space: nowrap;
    }

    #btnDangNhap:hover {
        background-color: #393e46b3!important
    }

</style>

<div id="modalLoading">
    <div id="LoginContainer" class="row m-auto" style="height: auto; max-width: 1000px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 20px; overflow: hidden">
        <div id="slider" class="col-lg-6 px-0">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"
                         style="background-image: url('/Image/Login_Ad/Login_Ad01.png');
                                background-repeat: round;
                                background-attachment: fixed;
                                background-size: cover;"></div>
                    <div class="swiper-slide"
                         style="background-image: url('/Image/Login_Ad/Login_Ad02.png');
                                background-repeat: round;
                                background-attachment: fixed;
                                background-size: cover;"></div>
                    <div class="swiper-slide"
                         style="background-image: url('/Image/Login_Ad/Login_Ad03.png');
                                background-repeat: round;
                                background-attachment: fixed;
                                background-size: cover;"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination" style="color: aliceblue"></div>
            </div>
        </div>
        <div class="col-lg-6 align-content-center" style="background-color: white; text-align: -webkit-center;">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmLogin", @class = "", @style = "max-width: 400px; margin: 10px", }))
            {
                <div class="d-flex justify-content-center align-content-center">
                    <a href="@Url.Action("Index", "Website")" style="font-size: 28px; font-weight: bold; margin: 32px; text-decoration: none; display: flex; align-items: center; color: #222831">
                        EShopping
                    </a>
                </div>

                <div class="d-flex justify-content-center align-content-center">
                    <p style="font-size: 16px; font-weight: bold; color: #393e46b3">
                        Chào mừng bạn đã quay trở lại
                    </p>
                </div>

                <!-- Email input -->
                <div class="mb-3">
                    <div class="form-floating">
                        <input asp-for="@Model.Username" class="form-control" autocomplete="name@example.com" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="@Model.Username" class="form-label">Email</label>
                    </div>
                    <div style="text-align: left">
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- Password input -->
                <div class="mb-3">
                    <div class="form-floating">
                        <input type="password" asp-for="@Model.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Mật khẩu" />
                        <label asp-for="@Model.Password" class="form-label">Mật khẩu</label>
                        @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@
                    </div>
                    <div style="text-align: left">
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="d-flex mb-3" style="flex-direction: row-reverse;">
                    <div>
                        <!-- Simple link -->
                        <a id="ForgotPassword" style="color: #393e46b3; text-decoration: none " href="#!">Quên mật khẩu?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <button id="btnDangNhap"  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-block m-0 rounded-pill" style="font-weight: 600; width: 180px; background-color: #222831; color: #EEEEEE ">Đăng nhập</button>

                <!-- Register buttons -->

                <div class="divider" style="width: 180px">
                    <span>Hoặc</span>
                </div>

                <div class="text-center" style="margin: 40px 0">
                    <a id="LoginWithGoogle" href="#" style="color: #222831; text-decoration: none">
                        <img width="24" height="24" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo" />
                        Đăng nhập với google
                    </a>
                </div>
                <div>
                    <p style="color: #393E46">Bạn chưa có tài khoản? <a id="linkDangKy" href="@Url.Action("Register", "TaiKhoan")" style="color: #222831;">Đăng ký</a></p>
                </div>
            }
        </div>
    </div>
</div>

<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
    });
</script>